{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="block">
        <div class="elem">
            <h2>Погода в вашем городе</h2>

            <form action="">
                <input type="text" name="city" placeholder="Введите город" class="city">
                <br>
                <input type="submit" name="send" value="Узнать" class="but">
            </form>
        </div>
        <div class="elem">
            <h2>Информация</h2>
            <div class="info">
                <p class="data">
                    <b>Погода</b> <br><br>
                    <b>Температура</b>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}