@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background: #CCCCFF;
    padding: 0;
    margin: 0;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.element, .count{
    background: lightyellow;
    border: 6px solid #FFF;
    margin: 20px
}
.text{
    width: 360px;
    padding: 20px;
    box-sizing: border-box
}
.block .img{
    max-width: 360px
}
.content h1{
    text-align: center;
    margin: 60px 0 40px;
    font-size: 30px;
}
.img + h2, .text h2{
    text-align
}
.top{
    background: #663366;
    margin:0
}
.top a{
    color: FFF;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.detail{
    background: FFF;
    padding: 20px 20px 60px;
    box-sizing:border-box;
}
.blog text{

}
/* .blog count{

} */
.menu{
    background: ;
}
.manu a{
    color: #663366;
    font-weight: bold;
    text-decoration: none;
}
.menu ul{
    display: flex
    list-style: none;
    
}
